html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#renderCanvas {
  background-color: aliceblue;
  width: 100%;
  height: 100%;
  touch-action: none;
}
#hyperbeamContainer {
  position: fixed;
  visibility: hidden;
}
